#notVisible {
    display: none;
}

.eBookTable {
    background-color: white;
    border: 1px solid black;
}

td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

th {
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
}

#tablesAndOtherDatas {
    margin-top: 10%;
    margin-left: 25%;
}

.linkButtonRed {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: red;
}

.linkButtonGreen {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: green;
}

.linkButtonYellow {
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: yellow;
}
